.logo {
  width: 64px;
  height: auto;
}

.paragraph {
    background-color: white;
    width: auto;
    height: auto;
    margin: 100px 100px 0px 100px;
    padding: 100px 100px 0px 100px;
    align-content: center;
}

.paragraph p {
  padding-bottom: 100px;
  color: black;
}

.paragraph img {
  max-width:100%;
  min-width: 100%;
  height: auto;
  align-self: center;
  margin-bottom: 100px;
}

.spaced_text {
  margin: 100px;
  color: white;
  text-decoration: none;
}

.spaced_image {
  margin: 100px;
}

.dropdown-menu {
  box-shadow: 5px 5px 5px #444;
}
