{% extends "template.html" %}

{% block page_content %}

  <div class = "paragraph">
    <p>
      Premier League Ticketmaster is a new company with currently 15 employees in Norway.
      We take care of transport, flights, hotels and tickets to all the major football matches in premier league.
      Our current supervisor John Doe, has played for Borgund football club and Chelsea.
      This web-page is only informal. The ticketsale itself wont start until 2020 some time.
      <br>
      <br>
      <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.beautifulpeople.com%2Fcdn%2Fbeautifulpeople%2Fimages%2Fdefault_profile%2Fsignup_male.png&f=1&nofb=1">
      <br>
      John Doe
      <br>
      <br>
      Premier League Ticketmaster
  </div>

{% endblock %}
