{% extends "template.html" %}

{% block page_content %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class = "spaced_text">Welcome fans</h1>
    <div class = "paragraph">
      <p>
        This is where you will get tickets to all the major* premier league matches in 2020.
        Premier league ticketmaster will cover everything you would need to enjoy premier league in England.

        <br>
        By *major we mean all matches except Manchester United`s (unfortunately)
        <br>
        <a href="/about">More about us here</a>
      </p>
    </div>

{% endblock %}
