<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Premier League Ticketmaster</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/custom_styles.css">

    <style>
      html {
        height: 100%;
      }

      body {
        z-index: -1;
        width: 100%;
        min-height: 100%;
        background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F1%2F16%2FWembley_Stadium_interior.jpg%2F1200px-Wembley_Stadium_interior.jpg&f=1&nofb=1");
        box-shadow: inset 0 0 250px black;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;;
      }

      .navbar {
        height: 100%;
      }
    </style>
  </head>

  <body onload="create_problems();">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class = "logo" src = "../static/images/football_logo.png" href = "/">
        <a class="navbar-brand" href="/">Premier League Ticketmaster</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class = "nav-link" href = "/about">About</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Teams & Clubs</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a id = "manchester" class="dropdown-item">
                        <img class = "logo" src = "https://www.manutd.com/AssetPicker/images/0/0/3/2/197240/Header-Logo1500994616801.png">
                        <p>Manchester United [!_:;^*server_error._d*¨._oh!d_¨¨shoul--dnot_behere]</p>
                      </a>

                      <a id = "afk" class="dropdown-item" href="https://www.aafk.no/">
                        <img class = "logo" src = "https://www.aafk.no/_/image/dcaed91b-9d1f-491c-b56b-c16b6578dc58:e425c44b30ef8b855dc6dd4f7b86ba063dd12af6/wide-72-72/aafk_gold_RGB.svg">
                        <p> Ålesund Fotballklubb</p >
                      </a>

                      <a class="dropdown-item" href="https://www.liverpoolfc.com/">
                        <img class = "logo" src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2Fthumb%2F0%2F0c%2FLiverpool_FC.svg%2F1200px-Liverpool_FC.svg.png&f=1&nofb=1">
                        <p>Liverpool</p >
                      </a>

                      <a class="dropdown-item" href="https://www.mancity.com/">
                        <img class = "logo" src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2Fthumb%2Fe%2Feb%2FManchester_City_FC_badge.svg%2F1200px-Manchester_City_FC_badge.svg.png&f=1&nofb=1">
                        <p>Manchester City</p >
                      </a>

                      <a class="dropdown-item" href="https://www.whufc.com/">
                        <img class = "logo" src = "https://www.whufc.com/themes/custom/westham/logo.png">
                        <p>West Ham United</p>
                      </a>

                      <div class="dropdown-divider"></div>

                      <button id = "problem_solver" onclick="fix_mystical_server_error();" class="dropdown-item" href="/">Is something Wrong? Please let us know...</button>
                      <a id = "joke" class="dropdown-item" href="/highlights">Sorry our bad... Wanna watch some highlights from last year?</a>
                  </div>
                </li>

                <li class="nav-item">
                  <a class = "nav-link" href = "/highlights">Highlights</a>
                </li>
            </ul>
        </div>
      </nav>

      {% block page_content %}{% endblock %}

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

      <script>

        var parent_node
        var solution
        var problem_solver
        var joke

        function create_problems() {
          solution = document.getElementById("afk");
          parent_node = solution.parentNode
          problem_solver = document.getElementById("problem_solver");
          joke = document.getElementById("joke");

          parent_node.removeChild(solution);
          parent_node.removeChild(joke);
        }

        function fix_mystical_server_error() {
          var server_error = document.getElementById("manchester");

          if (server_error != null) {
            parent_node.removeChild(server_error);
            parent_node.insertBefore(solution, parent_node.firstChild)
            parent_node.removeChild(problem_solver);
            parent_node.appendChild(joke);

            console.log("fixed server error");
          }
        }

      </script>
  </body>
</html>
